.footer {
    padding: 100px 0px;

    .footer__container {


        .footer__content {
            display: flex;
            align-items: start;
            gap: 100px;
            margin-bottom: 100px;
    
            .footer__block {
    
                .footer__logo {
                    width: 30px;
                    margin-bottom: 20px;
                }
    
                .footer__title {
                    width: 230px;
                    color: gray;
                }
            }
    
            .footer__item {
                margin-bottom: 20px;
    
                .footer__link {
                    color: gray;
    
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    
        .footer__block2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .footer__sub-title {
                color: gray;
    
                .footer__active {
                    color: hsl(181, 100%, 41%);
                }
            }
    
            .footer__icon {
                display: flex;
                align-items: center;
                gap: 30px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .footer__container {
        flex-direction: column;
    }
}