.order {
    padding: 100px 0px;

    .order__container {
        display: flex;
        align-items: center;
        gap: 30px;

        .order__title {
            color: hsl(181, 100%, 41%);
            width: 470px;
            font-size: 50px;
            margin-bottom: 15px;
        }

        .order__text {
            color: #000;
            width: 450px;
            margin-bottom: 50px;
        }

        .order__btn {
            padding: 20px 30px;
            background-color: hsl(181, 100%, 41%);
            color: white;
            border-radius: 7px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 576px) {
    .order__container {
        flex-direction: column;
        text-align: center;

        .order__title {
            margin-left: auto;
            margin-right: auto;
        }
    }
}